
h2{
    text-align: center;
    text-transform: lowercase;
    font-family: 'Segoe UI';
    margin-bottom: 40px;
    color: #166FE5;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 53px;
}

